.card {
    background-color: var(--secondary-bg-color);
    color: var(--primary-text-color);
    padding: var(--padding-standard);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    width: calc(33.33% - 2rem);
    max-width: 300px;
    text-align: center;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.itemImage {
    width: var(--img-width);
    height: var(--img-height-auto);
    border-radius: var(--border-radius);
}

.itemPriceDisplay {
    text-align: center;
    font-size: 15px;
    color: var(--lightest-color);
    height: 50px;
    width: 220px;
}

.itemStock {
    font-size: 0.9rem;
    color: var(--text-color);
}