/* filename: src/components/CartWidget/CartWidget.module.css */
.cartWidgetContainer {
    display: flex;
    align-items: center;
    position: relative;

}

.counter {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    
}
.cartWidgetContainer img{
    width: 70px;
    height: 70px;
    background-color: none;
    filter: invert(1);
}
