/* filename: src/components/OrderForm/OrderForm.module.css */

.orderFormContainer {
  background-color: var(--dark-secondary-color);
  padding: 2rem;
  border-radius: var(--border-radius);
  max-width: 600px;
  margin: 2rem auto;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  background-color: var(--secondary-bg-color);
  border-radius: var(--border-radius);
}

.formField {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5rem;
  background-color: var(--secondary-bg-color);
}
label{
  background-color: var(--lighter-color);
}
.error {
  color: var(--text-color-error);
  font-size: 0.9rem;
}

.placeOrderButton {
  background-color: var(--accent-color);
  color: var(--lightest-color);
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.placeOrderButton:disabled {
  background-color: var(--lighter-color);
}

.thankYouMessage {
  text-align: center;
  padding: 2rem;
}

.orderList {
  list-style-type: none;
  padding: 0;
}

.orderItem {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
  border-bottom: 1px solid #ddd;
}
